# Dependências do Node
node_modules/
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.log

# Builds
/dist
/build

# IDEs e outros
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store